# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Maven
/target/

# Database files
/db/

# Logs
*.log

# IDE files
.idea/
*.iml
*.iws
*.ipr

# OS files
.DS_Store
Thumbs.db